# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# GRNT CODE Data
.grnt_code_history.json
short_story.txt

# Docker
.dockerignore

# OS
.DS_Store
Thumbs.db
